@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Генерация кодов восстановления двухфактроной аутентифакации (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Сохраните эти коды в надежном месте.</strong>
    </p>
    <p>
        Если вы потеряете свой телефон и у вас не окажется кодов восстановления вы потеряете доступ к своему аккаунту.
    </p>
    <p>
        Генерация новых кодов не изменит ключи используемые в аутентефикаторе. Если вы захотите изменить ключи
        используемые в аутентификаторе нажмите <a asp-page="./ResetAuthenticator">сбросить ключи аутентификатора.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Создать ключи восстановления</button>
    </form>
</div>
