@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Личная информация";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ваш аккаунт содержит личную информацию которую вы нам предоставили. Эта страница позволяет вам удалить эти данные.</p>
        <p>
            <strong>Удаление этих данных мгновенно удалит ваш аккаунт, без возможности восстановления.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Скачать</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
