@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль изменен. Пожалуйста <a asp-page="./Login">нажмите сюда чтобы войти</a>.
</p>
