@{
    ViewData["Title"] = "Лицензионное соглашение";
}
<h1>@ViewData["Title"]</h1>
<p>Регистрируясь на данном сайте, вы даете согласие на обработку 
    персональных данных.</p>
<p>Настоящим выражается воля и намерение сторон в соответствии 
    с нижеследующими условиями:</p>

<ul>
    <li>
        <h4>Обязательства общества: </h4>
        Общество обязуется обеспечивать посвященному в смех и юмор члену стороны
        регулярное предоставление возможности для озарения смехом в различных
        обстоятельствах.
    </li>

    <li>
        <h4>Интеллектуальная собственность: </h4>
        Смех и юмор, проявляемые в рамках данного соглашения, считаются
        общественным достоянием, и обе стороны вправе воспользоваться ими
        в целях поддержания позитивной атмосферы и духа в обществе.       
    </li>

    <li>
        <h4>Отношение к себе: </h4>
        Посвященный обязуется критически, но с благосклонностью относиться
        к собственным чертам характера, поощряя здоровое чувство самоиронии
        и способность рассматривать себя с определенной долей юмора.
    </li>

    <li>
        <h4>Дополнительные обязанности: </h4>
        По согласованию с обществом, посвященный может быть вызван к выполнению
        дополнительных задач, способствующих укреплению атмосферы радости и
        позитива.
    </li>

    <li>
        <h4>Серьезность в несерьезных ситуациях:</h4>
        Взаимные стороны согласны сохранять баланс между серьезностью
        и несерьезностью, осознавая, что юмор может быть эффективным
        инструментом в разрешении трудных ситуаций.
    </li>

    <li>
        <h4>Взаимное уважение: </h4>
        Обе стороны обязуются проявлять уважение к чувствам друг друга,
        избегая шуток, которые могут оказаться оскорбительными или неприемлемыми.
    </li>
</ul>






