@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-strong">@Html.Raw(Model.ErrorMessage)</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID ошибки:</strong> <code>@Model.RequestId</code>
    </p>
}

